@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'SDSamliphopangche_Outline';
}

* {
    margin: 3px;
    padding: 1px;
    box-sizing: border-box;
    list-style: none;
    text-align: center;
    color: white;
    line-height: 180%;
}
.wrapper {
    display: grid;
}
header {
    grid-column: span 2;
    color: white;
    background-color: #926219;
}
main {
    background-color: #DC9322;
}
aside {
    background-color: #F4CB8C;
}
footer {
    background-color: #FFC300;
    grid-column: span 2;
}
h2 {
    color: brown;
}
img.face {
    border: 5px solid #FFC300;
    width: 200px;
    height: 260px;
    border-radius: 50%;
}
hr {
    border-radius: 30%;
    border: 0;
    height: 5px;
    width: 200px;
    margin: auto;
    background-color: wheat;
}
table {
    margin: auto;
}
th, td {
    border: 3px solid brown;
    border-radius: 20%;
}
th {
    color: #4D1C06;
    background-color: darkgoldenrod;
}
td {
    color: #900C3F;
    background-color: #FFC300;
}
.images {
    display: flex;
}